name: terraform apply (management-account)

on:
  push:
    paths:
      - 'management-account/terraform/**'
      - 'modules/**'
      - '.github/workflows/management-account-plan.yml'
      - '.github/workflows/management-account-apply.yml'
    branches:
      - main

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        working-directory: ./management-account/terraform
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: arn:aws:iam::${{secrets.AWS_ROOT_ACCOUNT_ID}}:role/github-actions-apply
          role-session-name: GitHubActions
          aws-region: eu-west-2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.7.5
      - run: terraform fmt -check
        continue-on-error: true
      - run: terraform init
      - run: terraform validate -no-color
      - run: terraform plan -no-color
      - run: terraform apply -auto-approve
        if: github.event.ref == 'refs/heads/main'
