name: terraform plan (management-account)

on:
  pull_request:
    paths:
      - "management-account/terraform/**"
      - "modules/**"
      - ".github/workflows/management-account-plan.yml"
      - ".github/workflows/management-account-apply.yml"
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1"

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        working-directory: ./management-account/terraform
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{secrets.AWS_ROOT_ACCOUNT_ID}}:role/github-actions-plan
          role-session-name: GitHubActionsPlan
          aws-region: eu-west-2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.12.2
      - run: terraform fmt -check
        continue-on-error: true
      - run: terraform init
      - run: terraform validate -no-color

      - name: Terraform plan
        id: plan
        run: |
          set -o pipefail
          terraform plan -detailed-exitcode | ../../scripts/redaction.sh

      - name: Alert Slack if drift detected on scheduled run
        if: ${{ (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch') && steps.plan.outputs.exitcode == '2' }}
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":old-man-yells-at-terraform: *Terraform Drift Detected!* \n\nDrift has been detected in the repository *<https://github.com/${{ github.repository }}|${{ github.repository }}>*. To correct the drift, re-apply the latest terraform code or update the code.\n\n*Workflow:* `${{ github.workflow }}`"
                  }
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "View Workflow"
                      },
                      "url": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                      "style": "primary"
                    },
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "Apply management-account"
                      },
                      "url": "https://github.com/ministryofjustice/aws-root-account/actions/workflows/management-account-apply.yml"
                    }
                  ]
                }
              ]
            }
